* {
  margin: 0;
  padding: 0;
}

div {
  background-color: green;
  /* display: inline; */
  width: 500px;

  /* padding: 10px; */
  /* 값 부여 : 시계방향 */
  padding: 10px 20px 15px;
  /* height: 300px; */
  margin: 20px;
}

span {
  background-color: brown;
  /* display: inline-block; */
  width: 200px;
  padding: 10px;
  /* height: 300px; */
  margin: 20px;
}
